.line {
  max-width: 1150px;
  height: 2px;
  background: #ff4e50;
  margin-top: 100px;
}
.footer {
  padding: 40px 250px;

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;

    &__card {
      &-logo {
        text-decoration: none;
        color: #ff4e50;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &__card-2 {
      &-logo-2 {
        color: #444;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60px;
        &-link {
          text-decoration: none;
          color: #999;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 26px;
          text-align: center;
        }
      }
    }
    &__card-3 {
      &-logo-3 {
        text-decoration: none;
        color: #444;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &__card-4 {
      &-logo-4 {
        margin: 0 0 20px 0;
        color: #ccc;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
      }
    }
  }
}
@media screen and (max-width: 1090px) {
  .footer {
    padding: 20px;
  }
}
@media screen and (max-width: 750px) {
  .footer__cards {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }
  .footer__cards__card-2__nav {
    max-width: 200px;
    margin: 0 auto;
  }
}
