.header {
  margin: 0;
  padding: 20px 250px;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      text-decoration: none;

      &-text {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &__nav {
      display: flex;
      gap: 20px;

      &-btn1 {
        background: transparent;
        border: none;
      }
      &-btn2 {
        width: 90px;
        height: 36px;
        border-radius: 40px;
        border: 2px solid #000;
        background: transparent;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 500px) {
  .header__wrap__logo {
    display: none;
  }
  .header__wrap__nav {
    text-align: center;
  }
}
