.hero {
  background: url(/images/DREAMSHARE.png) center / cover;
  height: 911px;

  &__wrap {
    &__title {
      padding: 300px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      &-text1 {
        text-align: center;
        max-width: 500px;
        color: #fff;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
      }

      &-text2 {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 24.5px;
        margin: 0;
      }
      &-btn {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 225px;
        height: 40px;
        border-radius: 40px;
        background: #ff4e50;
        border: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero__wrap__title-text1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 267px;
  }
}
@media screen and (max-width: 500px) {
  .hero__wrap__title-text2 {
    max-width: 250px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24.5px;
  }
}
@media screen and (max-width: 500px) {
  .hero__wrap__title-btn {
    width: 280px;
    height: 40px;
  }
}
